.comeco{
    background-color: #ffe43f;
}
.textao{
    font-size: 500%;

}
*{
    border: 0%;
    padding: 0%;
    margin: 0%;
}
.patodonald{
    background-color: #ffeda3;
}
.patolino{
    background-color: #b6e6fd;
}


.psiduck{
    background-color: 	#e9f4ff;
}

.tio{
    background-color: #f4f9ff;
}
.pezao{
    background-color:#ffe43f ;
}